<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->

<mapper namespace="mpww.helper.domain.board.model.dao.BoardDao">

    <insert id="writeBoard" parameterType="Board">
        INSERT INTO helper.board(title, content, user_nickname ,gym_name, regist_date)
        VALUES (#{title},#{content}, #{userNickname}, #{gymName}, #{registDate});
    </insert>

    <select id="selectAll" parameterType="String">
        SELECT * FROM helper.board where gym_name = #{gymName};
    </select>

    <select id="searchBoard" parameterType="SearchCondition">
    SELECT * FROM helper.post
    WHERE <trim prefixOverrides="AND">
            <if test = "title != null;">
                AND title LIKE concat('%', #{title}, '%')
            </if>
            <if test = "content != null">
                AND content LIKE concat('%', #{content}, '%')
            </if>
    </trim>
    AND gym_seq = #{gym_seq};

    <if test = "order != null">
        ORDER BY ${order} ${direction}
    </if>
    </select>

    

</mapper>